@model City

<h2>Create New City</h2>

<form asp-action="Create">
    @Html.Partial("_CityForm", Model)
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<a asp-action="Index">Back to List</a>
